{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

		{# Preloader #}
		<div id="preloader">
			<div id="spinner">
				<div class="preloader-dot-loading">
					<div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
				</div>
			</div>
			<div id="disable-preloader" class="btn btn-default btn-sm">{{ 'Disable Preloader'|t }}</div>
		</div>

		<div class="side-panel-body-overlay"></div>

		{# Side Panel #}
		<div id="side-panel-container" class="dark" data-tm-bg-img="{{ site.theme.link }}/images/side-push-bg.jpg">
			<div class="side-panel-wrap">
				<div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="fa fa-times side-panel-trigger-icon"></i></a></div>
				<img class="logo mb-50" src="{{ t_settings.get_logo }}" alt="{{ 'Logo'|t }}">
				<p>Lorem ipsum is simply free text dolor sit am adipi we help you ensure everyone is in the right jobs sicing elit, sed do consulting firms Et leggings across the nation tempor.</p>
				<div class="widget">
					<h4 class="widget-title widget-title-line-bottom line-bottom-theme-colored1">{{ 'Latest News'|t }}</h4>
					<div class="latest-posts">
						<article class="post media-post clearfix pb-0 mb-10">
							<a class="post-thumb" href="#"><img src="http://placehold.it/95x95" alt=""></a>
							<div class="post-right">
								<h5 class="post-title mt-0"><a href="#">Sustainable Construction</a></h5>
								<p>Lorem ipsum dolor...</p>
							</div>
						</article>
						<article class="post media-post clearfix pb-0 mb-10">
							<a class="post-thumb" href="#"><img src="http://placehold.it/95x95" alt=""></a>
							<div class="post-right">
								<h5 class="post-title mt-0"><a href="#">Industrial Coatings</a></h5>
								<p>Lorem ipsum dolor...</p>
							</div>
						</article>
						<article class="post media-post clearfix pb-0 mb-10">
							<a class="post-thumb" href="#"><img src="http://placehold.it/95x95" alt=""></a>
							<div class="post-right">
								<h5 class="post-title mt-0"><a href="#">Storefront Installations</a></h5>
								<p>Lorem ipsum dolor...</p>
							</div>
						</article>
					</div>
				</div>
				<div class="widget">
					<h5 class="widget-title widget-title-line-bottom line-bottom-theme-colored1">{{ 'Contact Info'|t }}</h5>
					<div class="tm-widget-contact-info contact-info-style1 contact-icon-theme-colored1">
						<ul>
							<li class="contact-name">
								<div class="icon"><i class="flaticon-contact-037-address"></i></div>
								<div class="text">{{ t_settings.get_founder_name }}</div>
							</li>
							<li class="contact-phone">
								<div class="icon"><i class="flaticon-contact-042-phone-1"></i></div>
								<div class="text"><a href="tel:{{ t_settings.get_phone }}">{{ t_settings.get_phone }}</a></div>
							</li>
							<li class="contact-email">
								<div class="icon"><i class="flaticon-contact-043-email-1"></i></div>
								<div class="text"><a href="mailto:{{ t_settings.get_email_address }}">{{ t_settings.get_email_address }}</a></div>
							</li>
							<li class="contact-address">
								<div class="icon"><i class="flaticon-contact-047-location"></i></div>
								<div class="text">{{ t_settings.get_address }}</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="wrapper" class="clearfix">
			{# Header #}
			<header id="header" class="header header-layout-type-header-2rows" >
				<div class="header-top">
					<div class="container">
						<div class="row">
							<div class="col-xl-auto header-top-left align-self-center text-center text-xl-left">
								<ul class="element contact-info">
									<li class="contact-phone"><i class="fa fa-phone font-icon sm-display-block"></i> {{ 'Tel'|t }}: {{ t_settings.get_phone }}</li>
									<li class="contact-email"><i class="fa fa-envelope font-icon sm-display-block"></i> {{ t_settings.get_email_address }}</li>
									<li class="contact-address"><i class="fa fa-map font-icon sm-display-block"></i> {{ t_settings.get_address }}</li>
								</ul>
							</div>
							<div class="col-xl-auto ml-xl-auto header-top-right align-self-center text-center text-xl-right">
								<div class="element pt-0 pb-0">
									<ul class="styled-icons icon-dark icon-theme-colored1 icon-circled clearfix">
										<li><a class="social-link" href="{{ t_settings.get_facebook }}"><i class="fab fa-facebook"></i></a></li>
										<li><a class="social-link" href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a class="social-link" href="#"><i class="fab fa-youtube"></i></a></li>
									</ul>
								</div>
								<div class="element pt-0 pb-0">
									<a href="{{ site.theme.link }}/ajax-load/form-appointment.html" class="btn btn-theme-colored2 btn-flat btn-sm ajaxload-popup">{{ 'Make an Appointment'|t }}</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="header-nav">
					<div class="header-nav-wrapper navbar-scrolltofixed">
						<div class="menuzord-container header-nav-container">
							<div class="container position-relative">
								<div class="row header-nav-col-row">
									<div class="col-sm-auto align-self-center">
										<a class="menuzord-brand site-brand" href="{{ site.theme.link }}/index-mp-layout1.html">
											<img class="logo-default logo-1x" src="{{ t_settings.get_logo }}" alt="{{ 'logo'|t }}">
										</a>
									</div>
									<div class="col-sm-auto ml-auto pr-0 align-self-center">
										<nav id="top-primary-nav" class="menuzord green" data-effect="fade" data-animation="none" data-align="right">
											<ul id="main-nav" class="menuzord-menu">
												<li class="active">
													<a href="#">Home</a>
													<ul class="dropdown">
														<li><a href="{{ site.theme.link }}/index-mp-layout1.html">Multi Layouts </a>
															<ul class="dropdown">
																<li><a href="{{ site.theme.link }}/index-mp-layout1.html">Multipage Layout1</a></li>
																<li><a href="{{ site.theme.link }}/index-mp-layout2.html">Multipage Layout2</a></li>
															</ul>
														</li>
														<li><a href="{{ site.theme.link }}/index-sp-layout1.html">Single Layouts </a>
															<ul class="dropdown">
																<li><a href="{{ site.theme.link }}/index-sp-layout1.html">Index Single Layout1</a></li>
																<li><a href="{{ site.theme.link }}/index-sp-layout2.html">Index Single Layout2</a></li>
															</ul>
														</li>
														<li><a href="{{ site.theme.link }}/index-dark-mp-layout1.html">Dark Layouts </a>
															<ul class="dropdown">
																<li><a href="{{ site.theme.link }}/index-dark-mp-layout1.html">Index Dark Layout1</a></li>
																<li><a href="{{ site.theme.link }}/index-dark-mp-layout2.html">Index Dark Layout2</a></li>
															</ul>
														</li>
														<li><a href="{{ site.theme.link }}/index-boxed-mp-layout1.html">Boxed Layouts </a>
															<ul class="dropdown">
																<li><a href="{{ site.theme.link }}/index-boxed-mp-layout1.html">Index Boxed Layout1</a></li>
																<li><a href="{{ site.theme.link }}/index-boxed-mp-layout2.html">Index Boxed Layout2</a></li>
															</ul>
														</li>
														<li><a href="{{ site.theme.link }}/index-rtl-layout1.html">RTL Layouts </a>
															<ul class="dropdown">
																<li><a href="{{ site.theme.link }}/index-rtl-layout1.html">Index RTL Layout1</a></li>
																<li><a href="{{ site.theme.link }}/index-rtl-layout2.html">Index RTL Layout2</a></li>
															</ul>
														</li>
													</ul>
												</li>
												<li><a href="{{ site.theme.link }}/page-about.html">About</a></li>
												<li><a href="#">Pages</a>
													<ul class="dropdown">
														<li><a href="{{ site.theme.link }}/page-team-grid.html">Team Grid</a></li>
														<li><a href="{{ site.theme.link }}/page-team-details.html">Team Details</a></li>
														<li><a href="{{ site.theme.link }}/page-gallery.html">Gallery</a>
														<li><a href="{{ site.theme.link }}/page-testimonial.html">Testimonial</a>
														<li><a href="{{ site.theme.link }}/page-404.html">404</a>
													</ul>
												</li>
												<li><a href="{{ site.theme.link }}/#">Services</a>
													<ul class="dropdown">
														<li><a href="{{ site.theme.link }}/page-services1.html">Services Grid</a></li>
														<li><a href="{{ site.theme.link }}/page-services-details.html">Services Details</a></li>
													</ul>
												</li>
												<li><a href="{{ site.theme.link }}/#">Blog</a>
													<ul class="dropdown">
														<li><a href="{{ site.theme.link }}/news-grid.html">News Grid</a></li>
														<li><a href="{{ site.theme.link }}/news-details.html">News Details</a></li>
													</ul>
												</li>
												<li><a href={{ site.theme.link }}/"page-contact.html">Contact</a></li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


			</header>
		</div>



		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
