<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Colek - Air Conditioning Repair HTML Template"/>
    <meta name="keywords" content="ac, air condition, air conditioning, business, cooling, handyman, heat, heating, home repair, hvac, installation, maintenance, refrigeration, repairing, ventilation"/>
    <meta name="author" content="ThemeMascot"/>
    <!-- Page Title -->
    <title>Colek - Air Conditioning Repair HTML Template</title>
    <!-- Favicon and Touch Icons -->
    <link href="images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
    <link href="{{ site.theme.link }}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ site.theme.link }}/css/animate.min.css" rel="stylesheet" type="text/css">
    <link href="{{ site.theme.link }}/css/javascript-plugins-bundle.css" rel="stylesheet"/>
    <link href="{{ site.theme.link }}/js/menuzord/css/menuzord.css" rel="stylesheet"/>
    <link href="{{ site.theme.link }}/js/timeline-cp-responsive-vertical/timeline-cp-responsive-vertical.css" rel="stylesheet" type="text/css">

    <link href="{{ site.theme.link }}/css/style-main.css" rel="stylesheet" type="text/css">
    <link id="menuzord-menu-skins" href="{{ site.theme.link }}/js/menuzord/css/skins/menuzord-rounded-boxed.css" rel="stylesheet"/>
    <link href="{{ site.theme.link }}/css/responsive.css" rel="stylesheet" type="text/css">
    <link href="{{ site.theme.link }}/css/colors/theme-skin-color-set1.css" rel="stylesheet" type="text/css">
    <!-- external javascripts -->
    <script src="{{ site.theme.link }}/js/jquery.js"></script>
    <script src="{{ site.theme.link }}/js/bootstrap.min.js"></script>
    <script src="{{ site.theme.link }}/js/javascript-plugins-bundle.js"></script>
    <script src="{{ site.theme.link }}/js/menuzord/js/menuzord.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ site.theme.link }}/js/revolution-slider/css/rs6.css">
    <link rel="stylesheet" type="text/css" href="{{ site.theme.link }}/js/revolution-slider/extra-rev-slider1.css">
    <script type="text/javascript" src="{{ site.theme.link }}/js/revolution-slider/js/revolution.tools.min.js"></script>
    <script type="text/javascript" src="{{ site.theme.link }}/js/revolution-slider/js/rs6.min.js"></script>
    <script src="{{ site.theme.link }}/js/revolution-slider/extra-rev-slider1.js"></script>
</head>