{% extends "page-normal.twig" %}

{% block after_banner %}
<!-- Section: Have Any Question -->
<section class="divider">
    <div class="container pt-60 pb-60">
        <div class="section-title mb-60">
            <div class="row">
                <div class="col-md-12">
                    <div class="esc-heading small-border text-center">
                        <h3>{{ post.any_question_content }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="icon-box text-center iconbox-theme-colored1 animate-icon-on-hover animate-icon-rotate mb-50">
                        <div class="icon-box-wrapper">
                            <div class="icon-wrapper mb-30">
                                <a class="icon icon-type-font-icon icon-lg icon-dark icon-circled"> <i class="flaticon-contact-045-call"></i> </a>
                            </div>
                            <div class="icon-text">
                                <h5 class="icon-box-title mt-0">Số điện thoại</h5>
                                <div class="content"><a href="tel:{{ t_settings.get_phone }}">{{ t_settings.get_phone }}</a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="icon-box text-center iconbox-theme-colored1 animate-icon-on-hover animate-icon-rotate mb-50">
                        <div class="icon-box-wrapper">
                            <div class="icon-wrapper mb-30">
                                <a class="icon icon-type-font-icon icon-lg icon-dark icon-circled"> <i class="flaticon-contact-043-email-1"></i> </a>
                            </div>
                            <div class="icon-text">
                                <h5 class="icon-box-title mt-0">Địa chỉ Email</h5>
                                <div class="content"><a href="mailto:{{ t_settings.get_email_address }}">{{ t_settings.get_email_address }}</a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="icon-box text-center iconbox-theme-colored1 animate-icon-on-hover animate-icon-rotate mb-50">
                        <div class="icon-box-wrapper">
                            <div class="icon-wrapper mb-30">
                                <a class="icon icon-type-font-icon icon-lg icon-dark icon-circled"> <i class="flaticon-contact-025-world"></i> </a>
                            </div>
                            <div class="icon-text">
                                <h5 class="icon-box-title mt-0">Địa chỉ cửa hàng</h5>
                                <div class="content">{{ t_settings.get_address }}</div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Google Map -->

<section data-tm-bg-img="images/bg/about-bg3.png">
    <div class="container-fluid p-0 pb-0">
        <div class="row">
            <div class="col-xl-12">
                <div class="google-map">
                    <iframe src="{{ post.map_link }}" width="2600" height="700" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    <div class="call-for-estimate d-none">
                        <h5 class="number"><span class="font-weight-300">Call for Estimate:</span> 666 888 0000</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Contact -->

<section data-tm-margin-top="-620px" class="d-none">
    <div class="container pt-20 pb-0">
        <div class="row">
            <div class="col"></div>
            <div class="col-xl-5">
                <div class="contact-from bg-theme-colored2 mt-lg-60 mb-lg-40">
                    <h3 class="text-white mt-0 mb-30">Bạn hãy điền nội dung tin nhắn vào form dưới đây và gửi cho chúng tôi. Chúng tôi sẽ trả lời bạn sau khi nhận được.</h3>
                    <!-- Contact Form -->
                    <form id="contact_form" name="contact_form" class="" action="includes/sendmail.php" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input name="form_name" class="form-control" type="text" placeholder="Họ tên" required="">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input name="form_email" class="form-control required email" type="email" placeholder="Địa chỉ Email">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input name="form_phone" class="form-control" type="text" placeholder="Số điện thoại">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea name="form_message" class="form-control required" rows="6" placeholder="Nội dung"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input name="form_botcheck" class="form-control" type="hidden" value="" />
                                    <button type="submit" class="btn btn-round btn-theme-colored1 text-white mt-10 mb-sm-30" data-loading-text="Vui lòng đợi trong giây lát...">Gửi</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- Contact Form Validation-->
                    <script type="text/javascript">
                        (function($) {
                            $("#contact_form").validate({
                                submitHandler: function(form) {
                                    var form_btn = $(form).find('button[type="submit"]');
                                    var form_result_div = '#form-result';
                                    $(form_result_div).remove();
                                    form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                                    var form_btn_old_msg = form_btn.html();
                                    form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                                    $(form).ajaxSubmit({
                                        dataType:  'json',
                                        success: function(data) {
                                            if( data.status == 'true' ) {
                                                $(form).find('.form-control').val('');
                                            }
                                            form_btn.prop('disabled', false).html(form_btn_old_msg);
                                            $(form_result_div).html(data.message).fadeIn('slow');
                                            setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                                        }
                                    });
                                }
                            });
                        })(jQuery);
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Testimonials -->

<section class="layer-overlay overlay-white-2 bg-no-repeat bg-pos-center-center bg-size-contain" data-tm-bg-img="images/bg/map.png">
    <div class="container pb-130">
        <div class="section-title">
            <div class="row justify-content-md-center">
                <div class="col-md-6 col-sm-12">
                    <div class="text-center mb-60">
                        <div class="tm-sc-section-title section-title">
                            <div class="title-wrapper">
                                <h2>Ý kiến khách hàng</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="testimonial-item mb-md-60">
                        <div class="star-rating"> <span data-tm-width="90%"></span></div>
                        <div class="author-text"> Trung tâm chúng tôi rất hài lòng khi chọn được công ty Phan Gia hợp tác và đem lại dịch vụ tốt nhất. </div>
                        <div class="author-info clearfix">
                            <h5 class="name">Anh Toàn,</h5>
                            <span class="job-position">Giám đốc</span> <a class="company-url" href="#"></a>
                        </div>
                        <div class="author-thumb">
                            <img width="74px" class="rounded-circle" src="https://dienlanhphangia.com/wp-content/uploads/2019/09/Zalo_ScreenShot_20_9_2019_91365.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="testimonial-item mb-md-60">
                        <div class="star-rating"> <span data-tm-width="90%"></span></div>
                        <div class="author-text"> Từ Ngày ký Hợp đồng Bảo trì máy lạnh với Phan Gia hệ thống máy lạnh của chuỗi nhà hàng hoạt động rất tốt , dịch vụ  xử lý nhanh ...</div>
                        <div class="author-info clearfix">
                            <h5 class="name">Anh Thành,</h5>
                            <span class="job-position">Giám đốc</span> <a class="company-url" href="#"></a>
                        </div>
                        <div class="author-thumb">
                            <img width="74px" class="rounded-circle" src="https://dienlanhphangia.com/wp-content/uploads/2019/09/u3.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="testimonial-item">
                        <div class="star-rating"> <span data-tm-width="90%"></span></div>
                        <div class="author-text"> Dịch vụ bao hành và lắp đặt ở Phan Gia tôi đánh giá rất cao về sự chuyên nghiệp và uy tín nơi đây</div>
                        <div class="author-info clearfix">
                            <h5 class="name">Anh Minh,</h5>
                            <span class="job-position">Giám đốc</span> <a class="company-url" href="#"></a>
                        </div>
                        <div class="author-thumb">
                            <img width="74px" class="rounded-circle" src="https://dienlanhphangia.com/wp-content/uploads/2019/09/avatar1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
